doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js')
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js')
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js')
    link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css')
    link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css')
    link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css')
    script(src="typeahead.js")
  body
    block content
